html, body {
  margin:0px;
  font-family: 'Roboto', sans-serif;
  background: rgba(174,220,238, 0.5);
  background: radial-gradient(circle, rgba(174,220,238,0.8) 0%, rgba(54,165,44,0.8) 100%);
}

nav {
  position: fixed;
  display: inline-block;
  z-index: 1;
  right: 10px;
}

nav ul {
  display: flex;
  align-items: flex-end;
}

nav ul li {
  list-style-type: none;
  padding-right: 10px;
}
.active {
  color: orange;
}

/* .navigation .active a{
  color: "red";
} */

/* .greenbg{
  background-color: rgba(53, 165, 44, 0.5);
} */

.full-page-component{
  position: relative;
  height: 100vh;
  padding: 2%;
}

.greenbg{
  background-color: rgba(53, 165, 44, 0.5);
}

.redbg{
  background-color: rgba(5230, 59, 9, 0.5);
}

/* .gradientbggreenblue{
  background: rgba(174,220,238, 0.5);
  background: radial-gradient(circle, rgba(174,220,238,0.8) 0%, rgba(54,165,44,0.8) 100%);
} */

.gradientbgbluepink{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

@keyframes slidein {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

.portrait-img{
  height: 85vh;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: auto;
}

.portrait-img.animated {
  animation: slidein 1.2s ease-in 0s 1;
  -webkit-animation: slidein 1.2s ease-in 0s 1;
}